{
  "extends": [
    "@nuxt/eslint-config",
    "plugin:nuxt/recommended",
    "airbnb"
  ],
  // "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "strict": 0,
    "quotes": [2, "double"],
    "no-else-return": 0,
    "new-cap": ["error", {"capIsNewExceptions": ["Router"]}],
    "no-console": 0,
    "no-undef": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "import/no-unresolved": [0, { "caseSensitive": false } ],
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-underscore-dangle": 0,
    "arrow-body-style": 0,
    "one-var": ["error", { "uninitialized": "always", "initialized": "never" }],
    "one-var-declaration-per-line": ["error", "initializations"],
    "max-len": ["error", 200],
    "no-extra-parens": 0,
    "no-restricted-syntax": [0, "DebuggerStatement"],
    "no-debugger": "warn",
    // "nuxt/rule-name": 2,
    "import/extensions": 0,
    "vue/no-multiple-template-root": 0,
    "vue/multi-word-component-names": 0,
    "vue/no-v-html": 0,
    "import/no-extraneous-dependencies": 1
  },
  "plugins": [
    // "react"
    // "nuxt"
  ],
  "root": false
}
