@use "sass:map";

$colors: (
  "white": #ffffff,
  "black": #000000,
  "red": #ff0000,
  "blue": #0000ff,
  "green": #76ba99,
  "light-green": #adcf9f,
  "dark-slate": #2f2f2f,
  "light-gray": #d3d3d3,
  "dark-gray": #808080,
  "gray": #9e9e9e,
  "gray-light": #f5f5f5,
  "gray-dark": #212121,
  "dark-red": darken(#f44336, 50%),
  "light-blue": #2196f3,
  "yellow": #ffeb3b,
  "orange": #ff9800,
  "pink": #e91e63,
  "purple": #9c27b0,
  "teal": #009688,
  "lime": #cddc39,
  "brown": #795548,
  "indigo": #3f51b5,
  "cyan": #00bcd4,
  "amber": #ffc107,
  "blue-gray": #607d8b,
  "crimson": #d32f2f,
  "zaffre": #00bcd4,
  "navy": #0a192f,
  "light-navy": #112240,
  "lightest-navy": #233554,
  "slate": #8892b0,
  "light-slate": #a8b2d1,
  "lightest-slate": #ccd6f6,
);

@function color($color-name) {
  $result: map.get($colors, $color-name);
  @return $result;
}
@function darken($color, $amount: 50%) {
  $black: color("black");
  @return mix($color, $black, $amount);
}

@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}
