@use "sass:map";

$palette: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #BD998F,
  "background": #000000,
  "dark-background": #000000,
  "light-background": #100f0f,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #707070,
  "foreground": #a0a0a0,
  "light-foreground": #c2c6d1,
  "lightest-foreground": #ffffff,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,
);





@function color($color-name) {
  $result: map.get($palette, $color-name);
  @return $result;
}

:export {
  teal: color("teal");
  purple: color("purple");
  khaki: color("khaki");
  white: color("white");
  black: color("black");
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}
