@use "sass:map";

$red: #DC4D4D;
// $red: #A80506;
// $red: #E30707;
$black: #040404;
$green: #64ffda;

$navy: (

  "primary-highlight": #DC4D4D,
  "primary-highlight-tint": rgba(202, 85, 85, 0.11) ,
  "secondary-highlight": yellow,
  
  "background": #0a192f,
  "dark-background": #020c1b,
  "light-background": #112240,
  "lightest-background": #233554,
  "shadow": rgba(2, 12, 27, 0.7),


  "dark-foreground": #495670,
  "foreground": #8892b0,
  "light-foreground": #a8b2d1,
  "lightest-foreground": #ccd6f6,
);

$neon: (
  "secondary-highlight": yellow,
  
  "primary-highlight": $green,
  "primary-highlight-tint": rgba(100, 255, 218, 0.1),
  
  "background": #0a192f,
  "dark-background": #020c1b,
  "light-background": #112240,
  "lightest-background": #233554,
  "shadow": rgba(2, 12, 27, 0.7),

  "dark-foreground": #495670,
  "foreground": #8892b0,
  "light-foreground": #a8b2d1,
  "lightest-foreground": #ccd6f6,

);

$theme: null;

.neon {
  $theme: $neon !global;
  // @debug map.get($theme, "primary-highlight");
}

.navy {
  $theme: $navy !global;
  // @debug map.get($theme, "primary-highlight");
}




@function color($color-name) {
  $result: map.get($theme, $color-name);
  @return $result;
}
