@use "sass:map";

$palette: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,
  // "primary-highlight": #1D52F3,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #1D52F3,
  "background": #222222,
  "dark-background": #000000,
  "light-background": #333333,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,

);

$palette2: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,
  // "primary-highlight": #1D52F3,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #1D52F3,
  "background": #000000,
  "dark-background": #000000,
  "light-background": #333333,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,

);

$palette3: (
  "primary-highlight": #BD998F,

  "secondary-highlight": #BD998F,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,


  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "background": #0C0C0C,
  "dark-background": #000000,
  "light-background": #2e2e2e,
  "lightest-background": #383838,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,
);


@function color($color-name) {
  $result: map.get($palette3, $color-name);
  @return $result;
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}
