@use "sass:map";

$palette: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,
  // "primary-highlight": #1D52F3,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #1D52F3,
  "background": #222222,
  "dark-background": #000000,
  "light-background": #333333,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,

);

$palette2: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,
  // "primary-highlight": #1D52F3,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #1D52F3,
  "background": #000000,
  "dark-background": #000000,
  "light-background": #333333,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,

);





@function color($color-name) {
  $result: map.get($palette2, $color-name);
  @return $result;
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}
