@use "sass:map";

$palette: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,
  // "primary-highlight": #1D52F3,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #1D52F3,
  "background": #222222,
  "dark-background": #000000,
  "light-background": #333333,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,

);

$palette2: (
  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,


  "primary-highlight": #BD998F,
  // "primary-highlight": #1D52F3,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "secondary-highlight": #1D52F3,
  "background": #000000,
  "dark-background": #000000,
  "light-background": #333333,
  "lightest-background": #1e1e1e,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),


  // "dark-foreground": #434343,
  "dark-foreground": #888888,
  "foreground": #bbbbbb,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,

);

$palette3: (
  
  // "primary-highlight": #BD998F,
  // "primary-highlight": color(display-p3 0.98 0.8 0.54),
  // "primary-highlight": #E47E5C,
  // "primary-highlight": #FA5900,
  "primary-highlight": #972900,

  "secondary-highlight": #BD998F,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,


  "teal": #00ffd9,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #050505,
  "ochre": #ff4e20,
  "pastel": #fdfd96,

  "one": #EE765C,
  "two": #3A594D,
  "three": #BD8FC0,

  "background": #0A0A0A,
  // background: #000000,
  "dark-background": #000000,
  "light-background": #2e2e2e,
  "lightest-background": #383838,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": #888888,
  // "foreground": #bbbbbb,
  // "foreground": darken(#bbbbbb, 10%),
  "foreground": #888888,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,
);


@function color($color-name) {
  $result: map.get($palette3, $color-name);
  @return $result;
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}



$dark-palette: (

  // "primary-highlight": color(display-p3 0.98 0.8 0.54),
  // "primary-highlight": #972900,

  "yellow": color(display-p3 0.98 0.8 0.14),
  "orange": color(display-p3 0.99 0.4 0.02),
  "red": color(display-p3 0.98 0.15 0.23),
  "green": color(display-p3 0.16 0.81 0.49),
  "blue": color(display-p3 0.07 0.48 1),
  "purple": color(display-p3 0.71 0.52 1),

  // "primary-highlight": color(display-p3 0.98 0.8 0.14),  // orange
  // "primary-highlight": color(display-p3 0.71 0.52 1),  // purple

  // "primary-highlight": color(display-p3 0.99 0.4 0.02),
  // "primary-highlight": color(display-p3 0.98 0.15 0.23),
  // "primary-highlight": color(display-p3 0.16 0.81 0.49),
  // "primary-highlight": color(display-p3 0.07 0.48 1),
  
  // "primary-highlight": #BD998F,
  "primary-highlight": #E47E5C,

  // "secondary-highlight": #BD998F,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,


  // "teal": #00ffd9,
  // "purple": #a374ff,
  // "khaki": #ffd074,
  // "white": #ecf7fa,
  // "black": #050505,
  // "ochre": #ff4e20,
  // "pastel": #fdfd96,

  // "one": #EE765C,
  // "two": #3A594D,
  // "three": #BD8FC0,

  // "background": #0A0A0A,
  "background": #111111,
  // "background": #000000,
  "dark-background": #000000,
  "light-background": #232323,
  "lightest-background": #383838,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": #888888,
  // "foreground": #bbbbbb,
  // "foreground": darken(#bbbbbb, 10%),
  // "foreground": #888888,
  "foreground": rgba(255, 255, 255, 0.5),
  // "foreground": #A0A0A0,
  "light-foreground": #dedede,
  "lightest-foreground": #ffffff,



  // "border-color": rgba(#707b90, 0.5)
  "border-color": rgba(255, 255, 255, 0.2)
);

$light-palette: (

  // "primary-highlight": color(display-p3 0.98 0.8 0.54),
  // "primary-highlight": #972900,

  // "yellow": color(display-p3 0.98 0.8 0.14),
  // "orange": color(display-p3 0.99 0.4 0.02),
  // "red": color(display-p3 0.98 0.15 0.23),
  // "green": color(display-p3 0.16 0.81 0.49),
  // "blue": color(display-p3 0.07 0.48 1),
  // "purple": color(display-p3 0.71 0.52 1),

  // "primary-highlight": color(display-p3 0.98 0.8 0.14),  // orange
  // "primary-highlight": color(display-p3 0.71 0.52 1),  // purple

  // "primary-highlight": color(display-p3 0.99 0.4 0.02),
  // "primary-highlight": color(display-p3 0.98 0.15 0.23),
  // "primary-highlight": color(display-p3 0.16 0.81 0.49),
  // "primary-highlight": color(display-p3 0.07 0.48 1),
  
  // "primary-highlight": #BD998F,
  // "primary-highlight": #E47E5C,
  // "primary-highlight": #972900,
  // "primary-highlight": #1EFFCD,
  // "secondary-highlight": #fe6a6a,
  "secondary-highlight": rgb(240, 191, 76),
  "primary-highlight": rgba(240, 191, 76, 0.7),

  // "secondary-highlight": #BD998F,

  "info-background": rgba(5, 95, 249, 0.5),
  "info-foreground": rgba(red(#2d4f72), green(#2d4f72), blue(#2d4f72), 1),
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,

  "text-highlight": #FFF6C0,


  // "teal": #00ffd9,
  // "purple": #a374ff,
  // "khaki": #ffd074,
  // "white": #ecf7fa,
  // "black": #050505,
  // "ochre": #ff4e20,
  // "pastel": #fdfd96,

  // "one": #EE765C,
  // "two": #3A594D,
  // "three": #BD8FC0,

  // "background": #FEF2EE,
  // "background": #F4E9ED,
  "background": rgba(155, 118, 53, 0.3),
  // "background": rgba(189, 183, 148, 0.4),
  // "background": #DCE2E2,
  // "background": #E0DFDC,
  // "background": #000000,
  "dark-background": #000000,
  "light-background": #2e2e2e,
  "lightest-background": #383838,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": #000000,
  // "foreground": #555555,
  // "foreground": #000000,
  // "foreground": #484F49,
  // "foreground": #3b6484,
  "foreground": rgba(0, 0, 0, 0.5),
  // "foreground": #335467,
  // "foreground": #8E2D2A,
  // "foreground": #524D49,
  "light-foreground": #0D0E10,
  "lightest-foreground": #0D0E10,

  // "border-color": rgba(#0D0E10, 0.3)
  "border-color": rgba(0, 0, 0, 0.2)
);
