@use "sass:map";

$red: #DC4D4D;
// $red: #A80506;
// $red: #E30707;
$black: #040404;

$colors: (
  "dark-navy": #020c1b,
  // "navy": $black,
  "navy": #0a192f,
  "light-navy": #112240,
  "lightest-navy": #233554,
  "navy-shadow": rgba(2, 12, 27, 0.7),
  "dark-slate": #495670,
  "slate": #8892b0,
  "light-slate": #a8b2d1,
  "lightest-slate": #ccd6f6,
  "white": #e6f1ff,
  // "green": #64ffda,
  "green": $red,
  "green-tint": rgba(100, 255, 218, 0.1),
  "pink": #f57dff,
  "blue": #57cbff,
  "black": #000000,
);

@function color($color-name) {
  $result: map.get($colors, $color-name);
  @return $result;
}
@function darken($color, $amount: 50%) {
  $black: color("black");
  @return mix($color, $black, $amount);
}

@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}
