@use "sass:map";

$red: #DC4D4D;
// $red: #A80506;
// $red: #E30707;
$black: #040404;
$green: #64ffda;

$navy: (

  "primary-highlight": #DC4D4D,
  "primary-highlight-tint": rgba(202, 85, 85, 0.11) ,
  "secondary-highlight": rgb(187, 255, 0),
  
  "background": #0a192f,
  "dark-background": #020c1b,
  "light-background": #112240,
  "lightest-background": #233554,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(2, 12, 27, 0.7),


  "dark-foreground": #495670,
  "foreground": #8892b0,
  "light-foreground": #a8b2d1,
  "lightest-foreground": #ccd6f6,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,
);

$new: (

  // "primary-highlight": #DC4D4D,
  "primary-highlight":#ba6477,
  "primary-highlight-tint": rgba(202, 85, 85, 0.11) ,
  "secondary-highlight": rgb(187, 255, 0),
  
  // "background": #0a192f,
  // set background to charcoal-black
  "background": #121722,
  "dark-background": #020c1b,
  "light-background": #1e2532,
  "lightest-background": #233554,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(2, 12, 27, 0.7),


  "dark-foreground": #495670,
  "foreground": #98a4c7,
  "light-foreground": #a8b2d1,
  "lightest-foreground": #b0b8d5,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,
);

$neon: (
  "secondary-highlight": yellow,
  
  "primary-highlight": $green,
  "primary-highlight-tint": rgba(100, 255, 218, 0.1),
  
  "background": #0a192f,
  "dark-background": #020c1b,
  "light-background": #112240,
  "lightest-background": #233554,
  "shadow": rgba(2, 12, 27, 0.7),

  "dark-foreground": #495670,
  "foreground": #8892b0,
  "light-foreground": #a8b2d1,
  "lightest-foreground": #ccd6f6,

);

// $theme: null;

// .neon {
//   $theme: $neon !global;
//   // @debug map.get($theme, "primary-highlight");
// }

// .navy {
//   $theme: $navy !global;
//   // @debug map.get($theme, "primary-highlight");
// }

$theme: $navy;


$palette: (
  "teal": #16f1d1,
  "purple": #a374ff,
  "khaki": #ffd074,
  "white": #ecf7fa,
  "black": #282723,


  "primary-highlight": #DC4D4D,
  // "primary-highlight": #16f1d1,


  "primary-highlight-tint": rgba(202, 85, 85, 0.11) ,
  // "secondary-highlight": rgb(187, 255, 0),
  "secondary-highlight": #ffd074,
  
  "background": #0a192f,
  "dark-background": #020c1b,
  "light-background": #112240,
  "lightest-background": #233554,
  "fancy-background": lighten(#0a192f, 40%),
  "shadow": rgba(2, 12, 27, 0.7),


  "dark-foreground": #495670,
  "foreground": #8892b0,
  "light-foreground": #a8b2d1,
  "lightest-foreground": #ccd6f6,

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,
);




@function color($color-name) {
  $result: map.get($palette, $color-name);
  @return $result;
}

:export {
  teal: color("teal");
  purple: color("purple");
  khaki: color("khaki");
  white: color("white");
  black: color("black");
}

@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}
