
// Style-sheet for header-related elements.
//
// Author: Amittai

@use "mixins"
@use "typography"
@use "colors"
@use "geometry"

  
.header
  @apply mixins.flex-between
  position: fixed
  top: 0
  z-index: 11
  padding: 0px 50px
  width: 100%
  height: geometry.var("nav-height")
  background-color: inherit
  filter: none !important
  pointer-events: auto !important
  user-select: auto !important
  backdrop-filter: blur(10px)
  transition: geometry.transition("background-color", "0.5s")

  @media (max-width: 1080px)
    padding: 0 40px
  
  @media (max-width: 768px)
    padding: 0 25px

  @media (prefers-reduced-motion: no-preference)
    height: geometry.var("nav-scroll-height")
    transform: translateY(0px)
    background-color: rgba(10, 25, 47, 0.85)
    box-shadow: 0 10px 30px -10px colors.color("navy-shadow")
    height: geometry.var("nav-scroll-height")

    // hide on scroll down
    // transform: translateY(calc(geometry.var("nav-scroll-height") * -1))
    box-shadow: 0 10px 30px -10px colors.color("navy-shadow")

nav
  @apply mixins.flex-between
  position: relative
  width: 100%
  color: colors.color("lightest-slate")
  font-family: typography.font("font-mono")
  counter-reset: item 0
  z-index: 12

  .logo
    @apply mixins.flex-center

    a
      color: colors.color("green")
      width: 42px
      height: 42px

      &:hover, &:focus
        svg
          fill: colors.color("green-tint")
          
      svg
        fill: none
        transition: geometry.transition("background-color", "0.5s")
        user-select: none

  .nav-links
    display: flex
    align-items: center

    @media (max-width: 768px)
      display: none
    
    ol
      @apply mixins.flex-between
      padding: 0
      margin: 0
      list-style: none

      li
        margin: 0 5px
        position: relative
        counter-increment: item 1
        font-size: typography.font-size("xs")
        float: left

        .nav-link
          padding: 10px
          font-family: typography.font("font-mono")
          
          &:before
            content: '0' counter(item) '.'
            margin-right: 5px
            color: colors.color("green")
            font-size: typography.font-size("xxs")
            text-align: right
