
@use "colors"
@use "typography"
@use "geometry"




@mixin split
  display: flex
  flex-direction: row
  gap: 2em
  font-size: typography.font-size(m)

  &:not(:last-child)
    margin-bottom: 2em

  // first descendant
  & > :first-child
    width: 20%
    gap: 0.5em
    display: flex

  & > :last-child
    width: 80%
    
  .range
    font-size: typography.font-size(xs)
    color: colors.color(dark-foreground)

    .date
      width: 40%
