
@use "colors"
@use "typography"
@use "geometry"

$border-radius: geometry.radius("small")

@mixin button
  color: colors.color("green")
  background-color: transparent
  // border: 1px solid colors.color("green")
  border-radius: geometry.var("border-radius")
  font-size: typography.font-size("xs")
  font-family: typography.font("font-mono")
  line-height: 1
  text-decoration: none
  cursor: pointer
  padding: 1.25rem 1.75rem
  transition: geometry.var("default-transition")
  padding: 1.25rem 1.75rem

  margin-top: 50px
  color: colors.color("lightest-slate")
  background-color: colors.color("green-tint")
  border: none  // remove terrible border
  outline: none

  &:hover, &:focus, &:active
    // background-color: colors.color("green-tint")
    color: colors.color("green")
    outline: none
  &:after
    display: none !important

@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin flex-between
  display: flex
  justify-content: space-between
  align-items: center


@mixin link
  display: inline-block
  text-decoration: none
  text-decoration-skip-ink: auto
  color: inherit
  position: relative
  transition: geometry.var("default-transition")
  &:hover, &:active, &:focus
    color: colors.color("green")
    outline: 0


@mixin inline-link
  display: inline-block
  text-decoration: none
  text-decoration-skip-ink: auto
  position: relative
  transition: geometry.var("default-transition")
  color: colors.color("green")
  &:hover,
  &:focus,
  &:active
    color: colors.color("green")
    outline: 0
    &:after
      width: 100%

    & > *
      color: colors.color("green") !important
      transition: geometry.var("default-transition")

  &:after
    content: ''
    display: block
    width: 0
    height: 1px
    position: relative
    bottom: 0.37em
    background-color: colors.color("green")
    transition: geometry.var("default-transition")
    opacity: 0.5

@mixin small-button
  color: colors.color("green")
  background-color: transparent
  border: 1px solid colors.color("green")
  border-radius: geometry.var("border-radius")
  padding: 0.75rem 1rem
  font-size: typography.font-size("xs")
  font-family: typography.font("font-mono")
  line-height: 1
  text-decoration: none
  cursor: pointer
  transition: geometry.var("default-transition")
  &:hover, &:focus, &:active
    background-color: colors.color("green-tint")
    outline: none

  &:after
    display: none !important

@mixin big-button
  color: colors.color("green")
  background-color: transparent
  border: 1px solid colors.color("green")
  border-radius: geometry.var("border-small")
  padding: 1.25rem 1.75rem
  font-size: typography.font-size("s")
  font-family: typography.font("font-mono")
  line-height: 1
  text-decoration: none
  cursor: pointer
  transition: geometry.var("default-transition")

  margin-top: 50px
  color: colors.color("lightest-slate")
  border: none  // remove terrible border
  background-color: colors.color("green-tint")
  outline: none

  &:hover,
  &:focus,
  &:active
    background-color: colors.color("green-tint")
    outline: none
    color: colors.color("green")
  &:after
    display: none !important

@mixin box-shadow
  box-shadow: 0 10px 30px -15px colors.color("navy-shadow")
  transition: geometry.transition(all, 0.2s, ease-in-out)

  &:hover,
  &:focus
    box-shadow: 0 20px 30px -15px colors.color("navy-shadow")

@mixin styled-list
  padding: 0
  margin: 0
  list-style: none
  font-size: typography.font-size("l")
  li
    position: relative
    padding-left: 30px
    margin-bottom: 10px
    &:before 
      content: '▹'
      position: absolute
      left: 0
      color: colors.color("green")

@mixin reset-list
  list-style: none
  padding: 0
  margin: 0
