
// calibre 400 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: 
    local('Calibre Light'),
    url('~/assets/fonts/Calibre/Calibre-Light.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Light.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Light.woff2') format('woff2');
}

// calibre 400 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: 
    local('Calibre Light Italic'),
    url('~/assets/fonts/Calibre/Calibre-LightItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-LightItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-LightItalic.woff2') format('woff2');
}




// calibre 600 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Calibre-Regular'),
    url('~/assets/fonts/Calibre/Calibre-Regular.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Regular.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Regular.woff2') format('woff2');
}

// calibre 600 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Calibre-Regular Italic'),
    url('~/assets/fonts/Calibre/Calibre-RegularItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-RegularItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-RegularItalic.woff2') format('woff2');
}


// calibre 500 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Calibre Medium'),
    url('~/assets/fonts/Calibre/Calibre-Medium.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Medium.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Medium.woff2') format('woff2');
}

// calibre 500 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('Calibre Medium Italic'),
    url('~/assets/fonts/Calibre/Calibre-MediumItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-MediumItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-MediumItalic.woff2') format('woff2');
}


// calibre 700 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Calibre Semibold'),
    url('~/assets/fonts/Calibre/Calibre-Semibold.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Semibold.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Semibold.woff2') format('woff2');
}

// calibre 700 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Calibre Semibold Italic'),
    url('~/assets/fonts/Calibre/Calibre-SemiboldItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-SemiboldItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-SemiboldItalic.woff2') format('woff2');
}




// sf-mono regular := 400
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('SF Mono Regular'),
    url('~/assets/fonts/SFMono/SFMono-Regular.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-Regular.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
}

// sf-mono regular := 400 italic
@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('SF Mono Regular Italic'),
    url('~/assets/fonts/SFMono/SFMono-RegularItalic.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-RegularItalic.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2');
}




// sf-mono medium := 500 normal
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('SF Mono Medium'),
    url('~/assets/fonts/SFMono/SFMono-Medium.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-Medium.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-Medium.woff2') format('woff2');
}

// sf-mono medium := 500 italic
@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('SF Mono Medium Italic'),
    url('~/assets/fonts/SFMono/SFMono-MediumItalic.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-MediumItalic.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2');
}







// sf-mono semibold := 600 normal
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('SF Mono Semibold'),
    url('~/assets/fonts/SFMono/SFMono-Semibold.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-Semibold.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-Semibold.woff2') format('woff2');
}


// sf-mono semibold := 600 italic
@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('SF Mono Semibold Italic'),
    url('~/assets/fonts/SFMono/SFMono-SemiboldItalic.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2');
}

@debug('fonts loaded');


// dm-sans regular := 400
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Sans Regular'),
    url('~/assets/fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}

// dm-sans regular := 400 italic
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Sans Regular Italic'),
    url('~/assets/fonts/DMSans/DMSans-Italic.ttf') format('truetype');
}

// dm-sans medium := 500 normal
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Sans Medium'),
    url('~/assets/fonts/DMSans/DMSans-Medium.ttf') format('truetype');
}

// dm-sans medium := 500 italic
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Sans Medium Italic'),
    url('~/assets/fonts/DMSans/DMSans-MediumItalic.ttf') format('truetype');
}

// dm-sans bold := 600 normal
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Sans Bold'),
    url('~/assets/fonts/DMSans/DMSans-Bold.ttf') format('truetype');
}

// dm-sans bold := 600 italic
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Sans Bold Italic'),
    url('~/assets/fonts/DMSans/DMSans-BoldItalic.ttf') format('truetype');
}

// dm-mono light := 400
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Mono Regular'),
    url('~/assets/fonts/DMMono/DMMono-Light.ttf') format('truetype');
}

// dm-mono light := 400 italic
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Mono Regular Italic'),
    url('~/assets/fonts/DMMono/DMMono-LightItalic.ttf') format('truetype');
}

// dm-mono regular := 500
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Mono Medium'),
    url('~/assets/fonts/DMMono/DMMono-Regular.ttf') format('truetype');
}

// dm-mono regular := 500 italic
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Mono Medium Italic'),
    url('~/assets/fonts/DMMono/DMMono-Italic.ttf') format('truetype');
}

// dm-mono bold := 600
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Mono Bold'),
    url('~/assets/fonts/DMMono/DMMono-Medium.ttf') format('truetype');
}

// dm-mono bold := 600 italic
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Mono Bold Italic'),
    url('~/assets/fonts/DMMono/DMMono-MediumItalic.ttf') format('truetype');
}


// brown light := 400
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brown Light'),
    url('~/assets/fonts/Brown/BrownLight-Regular.ttf') format('truetype');
}

// brown light italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brown Light Italic'),
    url('~/assets/fonts/Brown/BrownLight-Italic.ttf') format('truetype');
}

// brown medium := 500
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brown Medium'),
    url('~/assets/fonts/Brown/BrownMedium-Regular.ttf') format('truetype');
}

// brown medium italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brown Medium Italic'),
    url('~/assets/fonts/Brown/BrownMedium-Italic.ttf') format('truetype');
}

// brown bold := 600
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brown Bold'),
    url('~/assets/fonts/Brown/Brown-Bold.ttf') format('truetype');
}

// brown bold italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brown Bold Italic'),
    url('~/assets/fonts/Brown/Brown-BoldItalic.ttf') format('truetype');
}


// brown bold-italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brown Bold Italic'),
    url('~/assets/fonts/Brown/Brown-BoldItalic.ttf') format('truetype');
}

// brown extra-bold
// @font-face {
//   font-family: 'Brown';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     local('Brown ExtraBold'),
//     url('~/assets/fonts/Brown/BrownExtraBold Regular.ttf') format('truetype');
// }

// // brown extra-bold condensed
// @font-face {
//   font-family: 'Brown';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     local('Brown ExtraBold Condensed'),
//     url('~/assets/fonts/Brown/BrownExtraBoldCondensed Regular.ttf') format('truetype');
// }

// brown heavy
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Brown Heavy'),
    url('~/assets/fonts/Brown/BrownHeavy-Regular.ttf') format('truetype');
}







// Brandon Grotesk Thin := 200
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local('Brandon Grotesk Thin'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_thin.otf') format('truetype');
}

// Brandon Grotesk Thin Italic := 200 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    local('Brandon Grotesk Thin Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_thin_it.otf') format('truetype');
}

// Brandon Grotesk Light := 300
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Brandon Grotesk Light'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_light.otf') format('truetype');
}

// Brandon Grotesk Light Italic := 300 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    local('Brandon Grotesk Light Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_light_it.otf') format('truetype');
}

// Brandon Grotesk Regular := 400
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brandon Grotesk Regular'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_reg.otf') format('truetype');
}

// Brandon Grotesk Regular Italic := 400 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brandon Grotesk Regular Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_reg_it.otf') format('truetype');
}

// Brandon Grotesk Medium := 500
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brandon Grotesk Medium'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_med.otf') format('truetype');
}

// Brandon Grotesk Medium Italic := 500 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brandon Grotesk Medium Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_med_it.otf') format('truetype');
}

// Brandon Grotesk Bold := 600
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brandon Grotesk Bold'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_bld.otf') format('truetype');
}

// Brandon Grotesk Bold Italic := 600 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brandon Grotesk Bold Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_bld_it.otf') format('truetype');
}

// Brandon Grotesk Black := 700
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Brandon Grotesk Black'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_blk.otf') format('truetype');
}

// Brandon Grotesk Black Italic := 700 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local('Brandon Grotesk Black Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_blk_it.otf') format('truetype');
}


// Rubik Fade Regular := 400
@font-face {
  font-family: 'Rubik Fade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Rubik Fade Regular'),
    url('~/assets/fonts/RubikFade/RubikFadeRegular.ttf') format('truetype');
}

// megrim regular := 400
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Megrim Regular'),
    url('~/assets/fonts/Megrim/Megrim-Regular.ttf') format('truetype');
}

// fredericka regular := 400
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Fredericka the Great Regular'),
    url('~/assets/fonts/Fredericka/Fredericka.ttf') format('truetype');
}

// macondo regulat := 400
@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Macondo Regular'),
    url('~/assets/fonts/Macondo/Macondo-Regular.ttf') format('truetype');
}
