
// calibre 400 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: 
    local('Calibre Light'),
    url('~/assets/fonts/Calibre/Calibre-Light.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Light.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Light.woff2') format('woff2');
}

// calibre 400 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: 
    local('Calibre Light Italic'),
    url('~/assets/fonts/Calibre/Calibre-LightItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-LightItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-LightItalic.woff2') format('woff2');
}




// calibre 600 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Calibre-Regular'),
    url('~/assets/fonts/Calibre/Calibre-Regular.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Regular.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Regular.woff2') format('woff2');
}

// calibre 600 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Calibre-Regular Italic'),
    url('~/assets/fonts/Calibre/Calibre-RegularItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-RegularItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-RegularItalic.woff2') format('woff2');
}


// calibre 500 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Calibre Medium'),
    url('~/assets/fonts/Calibre/Calibre-Medium.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Medium.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Medium.woff2') format('woff2');
}

// calibre 500 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('Calibre Medium Italic'),
    url('~/assets/fonts/Calibre/Calibre-MediumItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-MediumItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-MediumItalic.woff2') format('woff2');
}


// calibre 700 normal
@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Calibre Semibold'),
    url('~/assets/fonts/Calibre/Calibre-Semibold.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-Semibold.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-Semibold.woff2') format('woff2');
}

// calibre 700 italic
@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Calibre Semibold Italic'),
    url('~/assets/fonts/Calibre/Calibre-SemiboldItalic.ttf') format('truetype'),
    url('~/assets/fonts/Calibre/Calibre-SemiboldItalic.woff') format('woff'),
    url('~/assets/fonts/Calibre/Calibre-SemiboldItalic.woff2') format('woff2');
}




// sf-mono regular := 400
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('SF Mono Regular'),
    url('~/assets/fonts/SFMono/SFMono-Regular.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-Regular.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
}

// sf-mono regular := 400 italic
@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('SF Mono Regular Italic'),
    url('~/assets/fonts/SFMono/SFMono-RegularItalic.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-RegularItalic.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2');
}




// sf-mono medium := 500 normal
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('SF Mono Medium'),
    url('~/assets/fonts/SFMono/SFMono-Medium.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-Medium.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-Medium.woff2') format('woff2');
}

// sf-mono medium := 500 italic
@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('SF Mono Medium Italic'),
    url('~/assets/fonts/SFMono/SFMono-MediumItalic.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-MediumItalic.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2');
}







// sf-mono semibold := 600 normal
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('SF Mono Semibold'),
    url('~/assets/fonts/SFMono/SFMono-Semibold.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-Semibold.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-Semibold.woff2') format('woff2');
}


// sf-mono semibold := 600 italic
@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('SF Mono Semibold Italic'),
    url('~/assets/fonts/SFMono/SFMono-SemiboldItalic.ttf') format('truetype'),
    url('~/assets/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff'),
    url('~/assets/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2');
}

@debug('fonts loaded');


// dm-sans regular := 400
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Sans Regular'),
    url('~/assets/fonts/DMSans/DMSans-Regular.ttf') format('truetype');
}

// dm-sans regular := 400 italic
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Sans Regular Italic'),
    url('~/assets/fonts/DMSans/DMSans-Italic.ttf') format('truetype');
}

// dm-sans medium := 500 normal
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Sans Medium'),
    url('~/assets/fonts/DMSans/DMSans-Medium.ttf') format('truetype');
}

// dm-sans medium := 500 italic
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Sans Medium Italic'),
    url('~/assets/fonts/DMSans/DMSans-MediumItalic.ttf') format('truetype');
}

// dm-sans bold := 600 normal
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Sans Bold'),
    url('~/assets/fonts/DMSans/DMSans-Bold.ttf') format('truetype');
}

// dm-sans bold := 600 italic
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Sans Bold Italic'),
    url('~/assets/fonts/DMSans/DMSans-BoldItalic.ttf') format('truetype');
}

// dm-mono light := 400
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Mono Regular'),
    url('~/assets/fonts/DMMono/DMMono-Light.ttf') format('truetype');
}

// dm-mono light := 400 italic
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('DM Mono Regular Italic'),
    url('~/assets/fonts/DMMono/DMMono-LightItalic.ttf') format('truetype');
}

// dm-mono regular := 500
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Mono Medium'),
    url('~/assets/fonts/DMMono/DMMono-Regular.ttf') format('truetype');
}

// dm-mono regular := 500 italic
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('DM Mono Medium Italic'),
    url('~/assets/fonts/DMMono/DMMono-Italic.ttf') format('truetype');
}

// dm-mono bold := 600
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Mono Bold'),
    url('~/assets/fonts/DMMono/DMMono-Medium.ttf') format('truetype');
}

// dm-mono bold := 600 italic
@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('DM Mono Bold Italic'),
    url('~/assets/fonts/DMMono/DMMono-MediumItalic.ttf') format('truetype');
}


// brown light := 400
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brown Light'),
    url('~/assets/fonts/Brown/BrownLight-Regular.ttf') format('truetype');
}

// brown light italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brown Light Italic'),
    url('~/assets/fonts/Brown/BrownLight-Italic.ttf') format('truetype');
}

// brown medium := 500
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brown Medium'),
    url('~/assets/fonts/Brown/BrownMedium-Regular.ttf') format('truetype');
}

// brown medium italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brown Medium Italic'),
    url('~/assets/fonts/Brown/BrownMedium-Italic.ttf') format('truetype');
}

// brown bold := 600
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brown Bold'),
    url('~/assets/fonts/Brown/Brown-Bold.ttf') format('truetype');
}

// brown bold italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brown Bold Italic'),
    url('~/assets/fonts/Brown/Brown-BoldItalic.ttf') format('truetype');
}


// brown bold-italic
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brown Bold Italic'),
    url('~/assets/fonts/Brown/Brown-BoldItalic.ttf') format('truetype');
}

// brown extra-bold
// @font-face {
//   font-family: 'Brown';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     local('Brown ExtraBold'),
//     url('~/assets/fonts/Brown/BrownExtraBold Regular.ttf') format('truetype');
// }

// // brown extra-bold condensed
// @font-face {
//   font-family: 'Brown';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     local('Brown ExtraBold Condensed'),
//     url('~/assets/fonts/Brown/BrownExtraBoldCondensed Regular.ttf') format('truetype');
// }

// brown heavy
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Brown Heavy'),
    url('~/assets/fonts/Brown/BrownHeavy-Regular.ttf') format('truetype');
}







// Brandon Grotesk Thin := 200
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local('Brandon Grotesk Thin'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_thin.otf') format('truetype');
}

// Brandon Grotesk Thin Italic := 200 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    local('Brandon Grotesk Thin Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_thin_it.otf') format('truetype');
}

// Brandon Grotesk Light := 300
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Brandon Grotesk Light'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_light.otf') format('truetype');
}

// Brandon Grotesk Light Italic := 300 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    local('Brandon Grotesk Light Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_light_it.otf') format('truetype');
}

// Brandon Grotesk Regular := 400
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brandon Grotesk Regular'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_reg.otf') format('truetype');
}

// Brandon Grotesk Regular Italic := 400 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Brandon Grotesk Regular Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_reg_it.otf') format('truetype');
}

// Brandon Grotesk Medium := 500
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brandon Grotesk Medium'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_med.otf') format('truetype');
}

// Brandon Grotesk Medium Italic := 500 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local('Brandon Grotesk Medium Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_med_it.otf') format('truetype');
}

// Brandon Grotesk Bold := 600
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brandon Grotesk Bold'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_bld.otf') format('truetype');
}

// Brandon Grotesk Bold Italic := 600 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local('Brandon Grotesk Bold Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_bld_it.otf') format('truetype');
}

// Brandon Grotesk Black := 700
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Brandon Grotesk Black'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_blk.otf') format('truetype');
}

// Brandon Grotesk Black Italic := 700 italic
@font-face {
  font-family: 'Brandon Grotesk';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local('Brandon Grotesk Black Italic'),
    url('~/assets/fonts/BrandonGrotesk/Brandon_blk_it.otf') format('truetype');
}


// Rubik Fade Regular := 400
@font-face {
  font-family: 'Rubik Fade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Rubik Fade Regular'),
    url('~/assets/fonts/RubikFade/RubikFadeRegular.ttf') format('truetype');
}

// megrim regular := 400
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Megrim Regular'),
    url('~/assets/fonts/Megrim/Megrim-Regular.ttf') format('truetype');
}

// fredericka regular := 400
// @font-face {
//   font-family: 'Fredericka the Great';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src:
//     local('Fredericka the Great Regular'),
//     url('~/assets/fonts/Fredericka/Fredericka.ttf') format('truetype');
// }

// macondo regulat := 400
@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Macondo Regular'),
    url('~/assets/fonts/Macondo/Macondo-Regular.ttf') format('truetype');
}

// rubik-puddles regular := 400
@font-face {
  font-family: 'Rubik Puddles';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Rubik Puddles Regular'),
    url('~/assets/fonts/RubikPuddles/RubikPuddles-Regular.ttf') format('truetype');
}

// red-hat-mono variable-weight
@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Red Hat Mono Thin'),
    local('Red Hat Mono ExtraLight'),
    local('Red Hat Mono Light'),
    local('Red Hat Mono Regular'),
    local('Red Hat Mono Medium'),
    local('Red Hat Mono SemiBold'),
    local('Red Hat Mono Bold'),
    local('Red Hat Mono ExtraBold'),
    local('Red Hat Mono Black'),
    url('~/assets/fonts/RedHatMono/RedHatMono.ttf') format('truetype');
}

// red-hat-mono italic
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Red Hat Mono Thin Italic'),
    local('Red Hat Mono ExtraLight Italic'),
    local('Red Hat Mono Light Italic'),
    local('Red Hat Mono Italic'),
    local('Red Hat Mono Medium Italic'),
    local('Red Hat Mono SemiBold Italic'),
    local('Red Hat Mono Bold Italic'),
    local('Red Hat Mono ExtraBold Italic'),
    local('Red Hat Mono Black Italic'),
    url('~/assets/fonts/RedHatMono/RedHatMono-Italic.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// // twitch fonts
// @font-face {
//   font-family: 'Twitch';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src:
//     url('~/assets/fonts/Twitch/twitch.ttf') format('truetype'),
//     url('~/assets/fonts/Twitch/twitch.otf') format('truetype');
// }

// matter light
@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-Light.otf') format('truetype');
}

// matter light italic
@font-face {
  font-family: 'Matter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-LightItalic.otf') format('truetype');
}

// matter regular
@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-Regular.otf') format('truetype');
}

// matter regular italic
@font-face {
  font-family: 'Matter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-RegularItalic.otf') format('truetype');
}

// matter medium
@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-Medium.otf') format('truetype');
}

// matter medium italic
@font-face {
  font-family: 'Matter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-MediumItalic.otf') format('truetype');
}

// matter semibold
@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-SemiBold.otf') format('truetype');
}

// matter semibold italic
@font-face {
  font-family: 'Matter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-SemiBoldItalic.otf') format('truetype');
}

// matter bold
@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-Bold.otf') format('truetype');
}

// matter bold italic
@font-face {
  font-family: 'Matter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-BoldItalic.otf') format('truetype');
}

// matter heavy
@font-face {
  font-family: 'Matter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-Heavy.otf') format('truetype');
}

// matter heavy italic
@font-face {
  font-family: 'Matter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src:
    url('~/assets/fonts/Matter/Matter-HeavyItalic.otf') format('truetype');
}


// ANTIQUE OLIVE

// antique olive light
@font-face {
  font-family: 'Antique Olive';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-Light.ttf') format('truetype');
}

// antique olive light italic
@font-face {
  font-family: 'Antique Olive';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-LightItalic.ttf') format('truetype');
}

// antique olive regular
@font-face {
  font-family: 'Antique Olive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-Regular.ttf') format('truetype');
}

// antique olive regular italic
@font-face {
  font-family: 'Antique Olive';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-RegularItalic.ttf') format('truetype');
}

// antique olive medium
@font-face {
  font-family: 'Antique Olive';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-Medium.ttf') format('truetype');
}

// antique olive medium italic
// @font-face {
//   font-family: 'Antique Olive';
//   font-style: italic;
//   font-weight: 500;
//   font-display: swap;
//   src:
//     url('~/assets/fonts/antique-olive/AntiqueOlive-MediumItalic.ttf') format('truetype');
// }

// antique olive Bold
@font-face {
  font-family: 'Antique Olive';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-Bold.ttf') format('truetype');
}

// antique olive Bold condensed
// @font-face {
//   font-family: 'Antique Olive';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     url('~/assets/fonts/antique-olive/AntiqueOlive-BoldCondensed.ttf') format('truetype');
// }

// antique olive heavy
@font-face {
  font-family: 'Antique Olive';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-Heavy.ttf') format('truetype');
}

// antique olive heavy italic
@font-face {
  font-family: 'Antique Olive';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-HeavyItalic.ttf') format('truetype');
}

// antique olive black
@font-face {
  font-family: 'Antique Olive';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url('~/assets/fonts/antique-olive/AntiqueOlive-Black.ttf') format('truetype');
}
