@use "sass:map";
// @use "~/styles/raw-fonts";

@function font($name) {
  $result: map.get($fonts-map, $name);
  @return $result;
}

@function font-size($size) {
  $result: map.get($font-sizes, $size);
  @return $result;
}

$fonts-map: (
  "font-sans": "Calibre",
  
  "font-mono": "SF Mono",
);

// $fonts-map: (
//   "font-sans": "Calibre, Inter, San Francisco, SF Pro Text,\
//                 -apple-system, system-ui, sans-serif",
//   "font-mono": "SF Mono, Fira Code, Fira Mono, Roboto Mono, monospace",
// );

$font-sizes: (
  "xxs": 12px,
  "xs": 13px,
  "s": 14px,
  "m": 16px,
  "l": 18px,
  "xl": 20px,
  "xxl": 22px,
  "heading": 32px
);
