@use "sass:map";
// @use "~/styles/raw-fonts";

@function font($name) {
  $result: map.get($fonts-map, $name);
  @return $result;
}

@function font-size($size) {
  $result: map.get($font-sizes, $size);
  @return $result;
}

$fonts-map: (
  // "sans-serif": "Brown",
  // "sans-serif": "DM Sans",
  "sans-serif": "Brandon Grotesk",
  
  // "monospace": "SF Mono",
  "monospace": "DM Mono",

  "rubik-fade": "Rubik Fade",

  "megrim": "Megrim",

  "fredericka": "Fredericka the Great",

  "macondo": "Macondo",

  "rubik-puddles": "Rubik Puddles",
);

$font-sizes: (
  "xxs": 11px,
  "xs": 12px,
  "s": 13px,
  "m": 15px,
  "l": 17px,
  "xl": 19px,
  "xxl": 21px,
  "heading": clamp(21px, 5vw, 35px),
  "big-heading": 80px
);
