@use "sass:map";
// @use "@/styles/raw-fonts";

@function font($name) {
  $result: map.get($fonts-map, $name);
  @return $result;
}

@function font-size($size) {
  $result: map.get($font-sizes, $size);
  @return $result;
}

// *, *::before, *::after {
//   letter-spacing: -0.0px;
// }

$fonts-map: (
  // "sans-serif": "Graphik",
  // "sans-serif": "Geist",
  // "sans-serif": "X",
  "sans-serif": "Neue Montreal",
  // "sans-serif": "Inter Variable",
  // "monospace": "SF Mono",

  "serif": "Alegreya",

  "rubik-fade": "Rubik Fade",

  "megrim": "Megrim",

  "fredericka": "Fredericka the Great",

  "macondo": "Macondo",

  "rubik-puddles": "Rubik Puddles",

  "twitch": "Twitch",

  "matter": "Matter",

  "big-heading": "Antique Olive",

  "antique-olive": "Antique Olive",

  "headings": "Antique Olive",

  "anek-latin": "Anek Latin",
);

// $font-sizes: (
//   "xxs": 11px,
//   "xs": 13px,
//   "s": 14px,
//   // "m": 14px,
//   "m": 15px,
//   "l": 17px,
//   "xl": 19px,
//   "xxl": 21px,
//   "heading": clamp(21px, 5vw, 35px),
//   "big-heading": 80px
// );

$font-sizes: (
  "xxs": 13px,
  "xs": 15px,
  "s": 16px,
  // "m": 14px,
  "m": 17px,
  "l": 19px,
  "xl": 21px,
  "xxl": 23px,
  "heading": clamp(21px, 5vw, 35px),
  "big-heading": 80px
);
